SQLALCHEMY_DATABASE_URI = None
SQLALCHEMY_TRACK_MODIFICATIONS = True
REDIS_HOST = None
RQ_REDIS_URL = None
HOST = None
PORT = None
DEBUG = None

SECRET_KEY = None
CHECKING_DELAY = None
NO_SONG_NAME = None
TRIES_IF_NO_SONG = None
TTL_IF_NO_SONG = None

TOKEN_EXPIRATION = None